<html>
	
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style_sport.css') }}">
	</head>
	<body>
	<div class = 'titlepane'>
	<h1>Catalog App</h1>
	</div>


	<div class = 'pane2'>
	<h2>Categories</h2>
	</div>

	<div>
	{% for sport in fullCatalog %}

	<a href = "{{url_for('showMenu', catalog_id = sport.id)}}"> <p>{{sport.name}}</p></a>


	{% endfor %}

	</div>

	<div class = 'menupane'>
		<h3>{{catalog.name}} Items ({{itemCount}} items)</h3>

    {% if items !=[] %}
    {% for i in items %}
			<a href = "{{url_for('showDescription', catalog_id = catalog.id, item_id = i.id)}}"><p>{{i.name}}</p></a>
	</br></br>
	{% endfor %}
	{% endif %}
	</div>
	
	</body>

</html>
